#logo-iut-head {
    max-height: 50px; 
}

.bouton-co {
    background-color: #141139;
}

.bouton-co:hover {
    background-color: #12A19A;
}

#gradient-text {
    background: linear-gradient(to right, #0F756B, #37A6A1);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 48px;
    margin: auto;
    max-width: 800px;
}

.text-style {
    font-size: 18px;
    max-width: 545px;
    margin: 0 auto;
}

/* INSCRIPTION */

.bouton-choix {
    background-color: #0F756B;
}

.bouton-choix:hover {
    background-color: #141139;
}

.choix-container {
    max-width: 800px;
    margin: auto;
}

#form-container {
    display: none;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}

.form-style {
    text-align: left;
    max-width: 600px;
    margin: auto;
}

.input-icon {
    position: relative;
    margin-bottom: 15px;
}
  
.input-icon input {
    width: 100%;
    padding: 10px 40px 10px 10px; 
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}
  
.input-icon i {
    position: absolute;
    right: 10px;
    top: 56%;
    transform: translateY(-50%);
    color: black;
    pointer-events: none;
}

.button-container {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#form-container button {
    color: white;
    background-color: #141139;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.submit {
    display: block;
    margin: 0 auto;
}

.mdp {
    display: flex;
    margin-left: auto;
    margin-top: 15px;
}

#form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
}


#form-container select {
    width: 25%;
    padding: 3px;
    margin: 10px auto 10px;
    border-radius: 5px;
}

footer{
    background-color: #141139;
}
  
#logo-iut-foot{
    max-height: 50px;
}


  
